.PyCharmCE2019.2
..gitinore.swp
.Xauthority
.bash-git-prompt/
.bash_history
.bash_logout
.bashrc
.cache/
.config/
.face
.face.icon
.gitconfig
.gtkrc-2.0
.java/
.kde/
.local/
.mozilla/
.pki/
.profile
.xsession-errors
.ssh
Desktop/
Documents/
PycharmProjects/
snap/
tools/
